@model ML.Banco

<h4>Formulario de Bancos</h4>

<form>
    <div class="form-group">
        <label for="NombreBanco">Nombre de Banco</label>
        <input type="NombreBanco" class="form-control" id="NombreBanco" >
  </div>
   <div class="form-group">
        <label for="NoEmpleados">No Empleados</label>
        <input type="NoEmpleados" class="form-control" id="NoEmpleados" >
  </div>
    <div class="form-group">
        <label for="NoSucursales">No Sucursales</label>
        <input type="NoSucursales" class="form-control" id="NoSucursales" >
    </div>
    <div class="form-group">
        <label for="IdPais">Id Pais</label>
        <input type="IdPais" class="form-control" id="IdPais">
    </div>
    <div class="form-group">
        <label for="IdPais">Id Pais</label>
        <input type="IdPais" class="form-control" id="IdPais">
    </div>
    <div class="form-group">
        <label for="IdPais">Id Pais</label>
        <input type="IdPais" class="form-control" id="IdPais">
    </div>
  
  <button type="submit" class="btn btn-primary">Agregar</button>
</form>